body {
    background-image: url("./ressources/fond\ test.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
    background-color: black;
    color: aliceblue;
    font-family: 'Itim', cursive;
    font-size: 32px;
}

h1{
    margin: 0px;
    text-align: center;
    font-size: 32px;
    color: aliceblue;
    padding-top: 20%;
    font-family: 'Itim', cursive;
    
}

h2{
    margin: 0px;
    text-align: center;
    color: aliceblue;
    font-size: 30px;
    padding-top: 3%;
}

input {
    color: aliceblue;
    font-family: 'Itim', cursive;
    font-size: medium;
    background-color: transparent;
    height: 32px;
    display: inline-block;
    vertical-align: middle;
}

fieldset{
    border: none;
    text-align: center;
}

.ribbon {
    background-image: linear-gradient(to bottom, rgba(19, 7, 87, 0.8), transparent);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.ribbon a {
    color: rgb(167, 182, 30);
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    margin-right: 10px;
}

.ribbon a:hover {
    font-size: 28px;
    text-decoration: underline;
}

.hidden{
    display: none;
}

.suivant{
    margin: 0px;
    text-align: center;
    font-size: 35px;
    padding-top: 5%; 
}

.suivant a{
    color: rgb(167, 182, 30); 
}

#transition2 {
    opacity: 1;
    background-color: black;
    height: 100%;
}

img {
    padding-top: 10px;
    transition: transform 0.3s ease-in-out;
}

img:hover {
    transform: scale(1.05);
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center space-between;
    margin-left: 5%;
    margin-right: 5%;
}

.container2 img {
    margin-right: 7.5%;
    margin-left: 7.5%;
    width: 70%;
    padding-top: 10px;
}

.container3 {
    display: flex;
    flex-direction: row;
}

.container4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container5 img {
    margin-right: 5%;
    margin-left: 5%;
    width: 55%;
}

.container5 h2{
    font-size: 25px;
}

#resultat {
    margin-top: 10%;
    padding: 6% 3%;
    display: flexbox;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 10px;
}

#res2 {
    margin: auto;
}


/* ne marche pas */
/* @media (400px <= width <= 700px) {   
    body { 
        font-size: 40; 
    } 
    
    h1 {
        margin: 10px;
        text-align: center;
        font-size: 40px;
        color: aliceblue;
        padding-top: 20%;
        font-family: 'Itim', cursive;
    }

    h2 {
        margin: 10px;
        text-align: center;
        font-size: 40px;
        color: aliceblue;
        padding-top: 20%;
        font-family: 'Itim', cursive;
    }
}  */